.table-wrapper {
    width: 80%;
    margin:0 auto;
    padding: 15px 0;
    overflow: scroll;
}

.table-form {
    width: 83%;
    margin:0 auto;
    padding-top: 10px;
}

.ant-form-item-control {
   margin-bottom: 10px; 
}

.contactButtons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

@media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) {
        .table-wrapper {
            width: 85%;
            overflow: auto;
        }
    }

@media screen 
    and (min-device-width: 768px) {
        .ant-form-item-control {
            margin-bottom: 0; 
        }
    }

