body {
  background-color: #e5e5e5;
}
.App {
  text-align: center;
}

.App-header {
  background-image: url('./assets/desktop-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 87.5px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.wrapper{
  width: 85%;
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 120px;
  height: 35px;
  background-image: url('./assets/logo.png');
  background-size: cover;
}
